apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "moodle.fullname" . }}-env
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
data:
  MOODLE_URL: "https://{{ .Values.gateway.hostname }}"
  MOODLE_SSLPROXY: "true"
  MOODLE_DB_TYPE: "pgsql"
  MOODLE_DB_SSLMODE: {{ .Values.postgresql.sslmode | quote }}
  {{- if .Values.redis.enabled }}
  MOODLE_REDIS_HOST: {{ include "moodle.redisHost" . | quote }}
  MOODLE_REDIS_PORT: {{ .Values.redis.service.port | quote }}
  {{- end }}
  {{- if and .Values.spaces.enabled (eq .Values.storage.filedir.driver "s3") }}
  MOODLE_OBJECTFS_ENABLED: "true"
  MOODLE_OBJECTFS_S3_ENDPOINT: {{ include "moodle.spacesEndpointUrl" . | quote }}
  MOODLE_OBJECTFS_S3_REGION: {{ .Values.spaces.region | quote }}
  MOODLE_OBJECTFS_S3_BUCKET: {{ .Values.spaces.bucket | quote }}
  MOODLE_OBJECTFS_S3_PATH_STYLE: {{ ternary "true" "false" .Values.spaces.usePathStyle | quote }}
  {{- end }}
  PHP_MEMORY_LIMIT: {{ .Values.moodle.php.memoryLimit | quote }}
  PHP_MAX_EXECUTION_TIME: {{ .Values.moodle.php.maxExecutionTime | quote }}

