{{- if .Values.gateway.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "moodle.fullname" . }}
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
  {{- if and .Values.gateway.tls.enabled .Values.gateway.tls.certManager.enabled }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.gateway.tls.certManager.clusterIssuer | quote }}
  {{- end }}
spec:
  parentRefs:
    - name: {{ .Values.gateway.gatewayName }}
      namespace: {{ .Values.gateway.gatewayNamespace }}
      sectionName: {{ .Values.gateway.listenerName }}
  hostnames:
    - {{ .Values.gateway.hostname | quote }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ include "moodle.fullname" . }}
          port: {{ .Values.service.port }}
{{- end }}
