{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "moodle.redisHost" . }}
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  ports:
    - port: {{ .Values.redis.service.port }}
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    {{- include "moodle.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis
{{- end }}

