image:
  repository: ghcr.io/your-org/moodle
  tag: "5.1.3"

gateway:
  enabled: true
  className: nginx
  gatewayName: public-gateway
  gatewayNamespace: ingress-nginx
  hostname: education.glia.org
  tls:
    enabled: true
    certificateSecretName: moodle-tls
    certManager:
      enabled: true
      clusterIssuer: letsencrypt-prod

postgresql:
  external: true
  secretRef:
    name: moodle-postgresql
    hostKey: host
    portKey: port
    databaseKey: database
    userKey: username
    passwordKey: password
  sslmode: require

spaces:
  enabled: true
  endpoint: tor1.digitaloceanspaces.com
  region: tor1
  bucket: moodle-glia
  backupBucket: moodle-glia-backups
  credentialsSecret:
    name: moodle-spaces-credentials
    accessKeyKey: access-key-id
    secretKeyKey: secret-access-key

redis:
  enabled: true

moodle:
  admin:
    user: admin
    email: tarek@tarek.org
    secretRef:
      name: moodle-admin
      passwordKey: password